---
import FormGroup from './FormGroup.astro'
import SocialNetwork from './SocialNetwork.astro'
const socialNetworks = [
  {
    network: 'GitHub',
    info: 'github.com/lucasgazzola',
    href: 'https://github.com/lucasgazzola',
  },
  {
    network: 'LinkedIn',
    info: 'linkedin.com/in/lucasgazzola',
    href: 'https://www.linkedin.com/in/lucasgazzola/',
  },
  {
    network: 'Email',
    info: 'lucasgazzola@outlook.com',
    href: 'mailto:lucasgazzola1@outlook.com',
  },
  {
    network: 'WhatsApp',
    info: '+54 364 744-6259',
    href: 'https://wa.me/543647446259',
  },
]
---

<section class="contact-section" id="contact">
  <header class="contact-header"><h3 class="section-title">Contact</h3></header>
  <main class="contact-main">
    <div class="main-content scroll-reveal opacity-reveal">
      <form id="contact-form" class="contact-form">
        <!-- <FormGroup>
          <label for="name">Name</label>
          <input
            value=""
            autocomplete="off"
            placeholder="Enter your name..."
            type="text"
            name="name"
            id="name"
          />
        </FormGroup> -->
        <FormGroup>
          <label for="subject">Subject</label>
          <input
            value=""
            autocomplete="off"
            placeholder="Enter the subject..."
            type="text"
            name="subject"
            id="subject"
          />
        </FormGroup>
        <FormGroup>
          <label for="message">Message</label>
          <textarea
            cols="5"
            autocomplete="off"
            placeholder="Enter your message..."
            name="message"
            id="message"></textarea>
        </FormGroup>
        <FormGroup>
          <button id="button-submit" title="Send email" type="submit">
            Send</button
          >
        </FormGroup>
      </form>
      <div class="separator"></div>
      <div class="contact-data">
        <h4 class="contact-data-title">My networks</h4>
        <ul class="social-networks-list">
          {
            socialNetworks.map(({ network, info, href }) => (
              <SocialNetwork href={href} info={info} network={network} />
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</section>

<style>
  #contact {
    background: linear-gradient(0deg, #0e141b, #1a242c);
  }
  .opacity-reveal {
    opacity: 0;
  }
  .active {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  label {
    font-weight: 600;
  }

  input {
    height: auto;
  }
  input,
  textarea {
    width: 100%;
    background-color: #eee;
    font-family: sans-serif;
    padding: 8px 8px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: background-color 0.2s;
    caret-color: #075f45;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }
  input:focus,
  textarea:focus {
    background-color: #fff;
  }

  /* .contact-main {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .contact-main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg, #1b2631, #004687d2);
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  }

  .contact-form {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-content {
    position: relative;
    padding: 80px 0;
    /* height: max-content; */
    display: inline-flex;
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
    height: 450px;
    border: 1px solid #f2aa4c22;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(0deg, #182128, #0e141b); */
    background: linear-gradient(45deg, #1b2631, #004687d2);
    box-shadow: inset 0 0px 20px #172028;
    /* background: linear-gradient(45deg, #1b2631, #081622); */
    /* opacity: 0; */
    /* min-width: 90ch; */
    /* max-width: 90ch; */
    z-index: 500;
  }
  .separator {
    height: 90%;
    width: 1px;
    background-color: #fff;
  }
  .contact-data {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
    gap: 2rem;
  }
  .contact-data-title {
    /* text-align: center; */
    /* align-self: flex-start;
    justify-self: flex-start; */
  }
  .social-networks-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    /* align-items: stretch; */
  }

  #button-submit {
    justify-self: center;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: #09f;
    /* opacity: 75%; */
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  @media (hover: hover) {
    #button-submit:hover {
      background-color: var(--button-hover-color);
    }
  }
  #button-submit:active {
    background-color: var(--button-active-color);
    transform: scale(0.99);
  }

  @media (max-width: 682px) {
    .main-content {
      flex-direction: column;
      height: 100%;
      gap: 2rem;
    }
    .separator {
      height: 1px;
      width: 80%;
      background-color: #fff;
    }
    .contact-data {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 400px) {
    .main-content {
      width: 100%;
      border: none;
      border-radius: 0;
      padding: 25px 5px;
    }
  }
</style>

<script>
  const submitButton = document.getElementById('button-submit')
  const handleSubmitForm = (event: Event) => {
    event.preventDefault()

    // const nameInput = document.getElementById('name') as HTMLInputElement
    const subjectInput = document.getElementById('subject') as HTMLInputElement
    const messageTextarea = document.getElementById(
      'message'
    ) as HTMLTextAreaElement

    const { value: subject } = subjectInput
    // const { value: name } = nameInput
    const { value: message } = messageTextarea

    // TODO: Handle empty field
    if (subject === '' || message === '') return

    window.open(
      `mailto:lucasgazzola1@outlook.com?subject=${subject}&body=${message}`
    )
    // Clean the inputs
    // nameInput.value = ''
    subjectInput.value = ''
    messageTextarea.value = ''
  }
  submitButton?.addEventListener('click', handleSubmitForm)
</script>
